body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  color: #282c34;
}

a {
  color: inherit;
}
